{% extends 'base.html' %}

{% block content %}
    {% for object in object_list %}

    <div class="row">
        <div class="col-md-2">{{ object.name }}</div>
        <div class="col-md-2">{{ object.description }}</div>
        <div class="col-md-2">{{ object.get_status_display }}</div>
        <div class="col-md-2">
            <button class="btn btn-primary {% if object.created_by != request.user %} disabled {% endif %}" href="{% url 'tasks:edit' pk=object.pk %}">Edit</button>
        </div>
        <div class="col-md-2">
            {% if object.is_done %}
                <form method="post" action="{% url 'tasks:mark_not_done' pk=object.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-warn" type="submit">Mark not done</button>
                </form>
            {% else %}
                <form method="post" action="{% url 'tasks:mark_done' pk=object.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-success" type="submit">Mark done</button>
                </form>
            {% endif %}
        </div>
        <div class="col-md-2">
            <form method="post" action="{% url 'tasks:delete' pk=object.pk %}">
                {% csrf_token %}
                <button class="btn btn-danger {% if object.created_by != request.user %} disabled {% endif %}" type="submit">Delete</button>
            </form>
        </div>
    </div>
    {% endfor %}
{% endblock %}
